/* styles.css */
.active {
    color: blue;
    text-decoration: underline;
}

.title h1 {
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

nav a:hover {
    color: #ff6347;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
